@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply text-black transition-colors duration-200 bg-neutral-100 dark:bg-neutral-900 dark:text-white;
}

.content-area {
	min-height: calc(100vh - theme("spacing.14"));
}

.fade-in {
	animation: fade-in 0.25s ease-out both;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

:disabled {
	pointer-events: none;
}
/* 
::selection {
	@apply bg-purple-300;
} */

.tooltip-triangle:after {
	content: "";
	@apply absolute top-[100%] left-1/2 -ml-1;
	margin-left: -10px;
	border-width: 10px;
	border-style: solid;
	border-color: white transparent transparent transparent;
}
